/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.p-r-s {
  padding-right: 5px !important;
}

.p-l-s {
  padding-left: 5px !important;
}

.m-r-s {
  margin-right: 5px !important;
}

.m-l-s {
  margin-left: 5px !important;
}
